* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    position: relative;
    width: 30vw;
    height: 1200px;
    border: 1px solid;
    border-color: black;
    top: 40px;
    left: 500px;
}

.container2 {
    position: sticky;
    width: 50vw;
    max-width: 400px;
    height: 300px;
    border: 1px solid;
    border-color: black;
    position: sticky;
    bottom: 70%;
    background: lightpink;
    margin: 1%;
}

.common-h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 50px;
    top: -20px;
    background: blue;
    position: absolute;
}

    .common-section__heading {
        font-size: 25px;
        font-weight: bold;
        color: white;
        height: 30px;
        background: blue;
        position: relative;
        top: 40px;
    }

    .common-section-content__paragraph {
        font-size: 20px;
        color: black;
        position: relative;
        top: 20px;
    }